.dashboard-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.dashboard-title {
    font-size: 2em;
    color: #333;
}

.dashboard-welcome {
    font-size: 1.2em;
    color: #666;
}

.job-cards-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .error_job_failed{
    color: red;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .pending-card{
    background-color: #fff;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
  }